In [1]:
# Setting up a custom stylesheet in IJulia
file = open("style.css") # A .css file in the same folder as this notebook file
styl = readall(file) # Read the file
HTML("$styl") # Output as HTML

HTML{ASCIIString}("<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>\n<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>\n<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>\n<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>\n<link href='http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic' rel='stylesheet' type='text/css'>\n\n<style>\n\n@font-face {\n    font-family: \"Computer Modern\";\n    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');\n}\n\n#notebook_panel { /* main background */\n    background: #ddd;\n    color: #000000;\n}\n\n\n\n/* Formatting for header cells */\n.text_cell_render h1 {\n    font-family: 'Philosopher', sans-serif;\n    font-weight: 400;\n    font-size: 2.2em;\n    line-height: 100%;\n    color: rgb(0, 80, 120);\n    margin-bottom: 0.1em;\n    margin-top: 0.1em;\n    display: block;\n}\t\n.text_cell_render h2 {\n    font-family: 'Philosopher', serif;\n    font-weight: 400;\n    font-size: 1.9em;\n    line-height: 100%;\n    color: rgb(200,100,0);\n    margin-bottom: 0.1em;\n    margin-top: 0.1em;\n    display: block;\n}\t\n\n.text_cell_render h3 {\n    font-family: 'Philosopher', serif;\n    margin-top:12px;\n    margin-bottom: 3px;\n    font-style: italic;\n    color: rgb(94,127,192);\n}\n\n.text_cell_render h4 {\n    font-family: 'Philosopher', serif;\n}\n\n.text_cell_render h5 {\n    font-family: 'Alegreya Sans', sans-serif;\n    font-weight: 300;\n    font-size: 16pt;\n    color: grey;\n    font-style: italic;\n    margin-bottom: .1em;\n    margin-top: 0.1em;\n    display: block;\n}\n\n.text_cell_render h6 {\n    font-family: 'PT Mono', sans-serif;\n    font-weight: 300;\n    font-size: 10pt;\n    color: grey;\n    margin-bottom: 1px;\n    margin-top: 1px;\n}\n\n.CodeMirror{\n        font-family: \"PT Mono\";\n        font-size: 100%;\n}\n\n</style>\n\n")

# DataFrames

## In this lesson

- [Introduction](#Introduction)
- [Importing packages for this lesson](#Importing-packages-for-this-lesson)
- [Outcomes](#Outcomes)
+ [The DataArray](#The-DataArray)
+ [Getting to know the content of your DataFrame](#Getting-to-know-the-content-of-your-DataFrame)
+ [Importing an exporting data files](#Importing-an-exporting-data-files)
    + [Reading tabular data](#Reading-tabular-data)
    + [Exporting a DataFrame](#Exporting-a-DataFrame)
+ [Combining DataFrames](#Combining-DataFrames)
+ [Grouping and splicing](#Grouping-and-splicing)
    + [by](#by)
    + [aggregate](#aggregate)
    + [groupby](#groupby)
    + [sub](#sub)
+ [Sorting](#Sorting)
+ [Duplicate rows](#Duplicate-rows)
    + [unique](#unique)
    + [deleterows](#deleterows)
+ [Dealing with NA values](#Dealing-with-NA-values)
+ [Renaming columns](#Renaming-columns)
+ [Converting columns to Julia arrays](#Converting-columns-to-Julia-arrays)

<hr>
<h2>Introduction</h2>

Arrays are powerful collections of data in Julia.  At times, though, we need a more powerful tool.  The `DataFrames` package is one of the most important extensions to Julia.  It allows for a level of easy and sophistication that makes working with data a pleasure.  It is worth our time to spend one lecture exploring this package.

[Back to the top](#In-this-lesson)

<hr>
<h2>Importing packages for this lesson</h2>

In [2]:
using DataFrames

[Back to the top](#In-this-lesson)

<hr>
<h2>Outcomes</h2>

After successfully completing this lecture, you will be able to:

- Understand a `DataArray` (as extension of Julia arrays)
- Scaling up your two-dimensional array to a powerful `DataFrame`
- Import data files as `DataFrames`
- Write `DataFrames` to disk as `csv` files
- Manipulate `DataFrames` and the data that they contain

[Back to the top](#In-this-lesson)

## The DataArray

Base Julia has an array type that is easy to create.

In [3]:
arr = [1, 2, 3, 6, 7, 8]

6-element Array{Int64,1}:
 1
 2
 3
 6
 7
 8

In [4]:
# Checking the type of the variable arr
typeof(arr)

Array{Int64,1}

A DataArray is similar.  We can simply pass an array variable as an argument to the ```DataArray()``` function and the second makes use of the ```@data()``` macro.

In [5]:
# DataArray was imported with DataFrames
da1 = DataArray(arr)

6-element DataArrays.DataArray{Int64,1}:
 1
 2
 3
 6
 7
 8

In [6]:
da2 = @data([1, 3, 5, 8, 10, 12])

6-element DataArrays.DataArray{Int64,1}:
  1
  3
  5
  8
 10
 12

We can use a variety of built-in Julia functions to manipulate these arrays.  Let's start with the `mapreduce()` function.

In the code below, I create a *recipe* whereby I create a variable called `x` which is then squared.  After the comma comes the `+` operator suggesting that we sum all of the values and lastly I refer to the actual values that will go through this *recipe*.

In [7]:
mapreduce(x -> x^2, +, da2)

343

I could also use the `map()` function.

In [8]:
sum(map(x -> x^2, da2))

343

[Back top the top](#In-this-lesson)

## The DataFrame

The DataFrame type can hold tables of data.  Each column is in essence a DataArray.

There are many ways of creating a DataFrame.  The first we will consider here lists the column names and add values in each row of each column.

In [8]:
# The arguments used are name of column = values, name of next column = values, ...
df1 = DataFrame(A = 1:5, B = ["Y", "Y", "N", "Y", "N"])

5×2 DataFrames.DataFrame
│ Row │ A │ B   │
├─────┼───┼─────┤
│ 1   │ 1 │ "Y" │
│ 2   │ 2 │ "Y" │
│ 3   │ 3 │ "N" │
│ 4   │ 4 │ "Y" │
│ 5   │ 5 │ "N" │

Note how the index starts at $ 1 $.  We have two columns, the first named *A* and the second named *B*.    Column *A* holds values $ 1 $ through $ 5 $ and the rows of column *B* each hold one of the items in the array created as an argument.

<p>You might wonder what happens of the arrays that fill each column are not of equal length.  Well, you will get an error.  Something like this:</p>
<p>
```LoadError: New columns must have the same length as old columns
while loading In[21], in expression starting on line 1

 in insert_single_column! at /Users/juanklopper/.julia/v0.4/DataFrames/src/dataframe/dataframe.jl:309
 in setindex! at /Users/juanklopper/.julia/v0.4/DataFrames/src/dataframe/dataframe.jl:368
 in DataFrame at /Users/juanklopper/.julia/v0.4/DataFrames/src/dataframe/dataframe.jl:104```
 </p>

The second way simply creates (and names) each column, together with its own data.

In [9]:
# Creating an empty DataFrame
df2 = DataFrame();

In [10]:
# Adding columns
df2[:A] = 1:5
df2[:B] = ["This", "is", "a", "new", "column"];

In [11]:
df2

5×2 DataFrames.DataFrame
│ Row │ A │ B        │
├─────┼───┼──────────┤
│ 1   │ 1 │ "This"   │
│ 2   │ 2 │ "is"     │
│ 3   │ 3 │ "a"      │
│ 4   │ 4 │ "new"    │
│ 5   │ 5 │ "column" │

There are more ways to create DataFrames and we will take a look at these later in the lesson.

A DataFrame is thus a table with columns and rows, which are indexed.  We can take a look at the size of a DataFrame using the ```size()``` function.  In the case of ```df2``` we have $ 5 $ rows and $ 2 $ columns.

In [13]:
size(df2)

(5,2)

In [14]:
# The size() function returns a tuple
typeof(size(df2))

Tuple{Int64,Int64}

Since ```size()``` returns a tuple, we can use its index.

In [15]:
no_of_rows = size(df2, 1)

5

In [16]:
no_of_cols = size(df2, 2)

2

This is helpfull if we want to iterate through the rows for instance.  As a shortcut, we could also have used ` no_of_rows, no_of_cols = size(df2)`.

[Back to the top](#In-this-lesson)

## Getting to know the content of your DataFrame

Let's create a bigger DataFrame using one of the methods we looked at above.

In [17]:
df3 = DataFrame();

In [18]:
# The rand function selects floating point values in the range [0,1]
# Below we specify that we want 3 such values
rand(3)

3-element Array{Float64,1}:
 0.689199
 0.93926
 0.969291

In [19]:
# Creating four colums each containing 15 rows of data
df3[:A] = rand(15)
df3[:B] = rand(15)
df3[:C] = rand(15)
df3[:D] = rand(15);

In [20]:
# The complete DataFrame
df3

15×4 DataFrames.DataFrame
│ Row │ A         │ B         │ C         │ D        │
├─────┼───────────┼───────────┼───────────┼──────────┤
│ 1   │ 0.959847  │ 0.959738  │ 0.0520186 │ 0.33655  │
│ 2   │ 0.650491  │ 0.712313  │ 0.671212  │ 0.971208 │
│ 3   │ 0.414569  │ 0.113705  │ 0.646018  │ 0.120824 │
│ 4   │ 0.37064   │ 0.0728947 │ 0.998277  │ 0.178778 │
│ 5   │ 0.92061   │ 0.533644  │ 0.554361  │ 0.358817 │
│ 6   │ 0.326655  │ 0.693335  │ 0.615214  │ 0.13973  │
│ 7   │ 0.0993656 │ 0.147908  │ 0.518944  │ 0.842329 │
│ 8   │ 0.44541   │ 0.217917  │ 0.368185  │ 0.382758 │
│ 9   │ 0.121486  │ 0.887046  │ 0.242702  │ 0.795846 │
│ 10  │ 0.518242  │ 0.948583  │ 0.662658  │ 0.909528 │
│ 11  │ 0.779428  │ 0.547386  │ 0.972781  │ 0.672956 │
│ 12  │ 0.857957  │ 0.925363  │ 0.904602  │ 0.785356 │
│ 13  │ 0.478968  │ 0.294416  │ 0.0373956 │ 0.663301 │
│ 14  │ 0.786913  │ 0.96969   │ 0.727228  │ 0.801673 │
│ 15  │ 0.255163  │ 0.761274  │ 0.715125  │ 0.722241 │

In a larger DataFrame such as ```df3``` we could look at the first few or last few rows alone.

In [21]:
# Using the head() function to look at the first 6 (default value) rows
head(df3)

6×4 DataFrames.DataFrame
│ Row │ A        │ B         │ C         │ D        │
├─────┼──────────┼───────────┼───────────┼──────────┤
│ 1   │ 0.959847 │ 0.959738  │ 0.0520186 │ 0.33655  │
│ 2   │ 0.650491 │ 0.712313  │ 0.671212  │ 0.971208 │
│ 3   │ 0.414569 │ 0.113705  │ 0.646018  │ 0.120824 │
│ 4   │ 0.37064  │ 0.0728947 │ 0.998277  │ 0.178778 │
│ 5   │ 0.92061  │ 0.533644  │ 0.554361  │ 0.358817 │
│ 6   │ 0.326655 │ 0.693335  │ 0.615214  │ 0.13973  │

In [22]:
# Using the tail() function to look at the last 3 rows
tail(df3, 3)

3×4 DataFrames.DataFrame
│ Row │ A        │ B        │ C         │ D        │
├─────┼──────────┼──────────┼───────────┼──────────┤
│ 1   │ 0.478968 │ 0.294416 │ 0.0373956 │ 0.663301 │
│ 2   │ 0.786913 │ 0.96969  │ 0.727228  │ 0.801673 │
│ 3   │ 0.255163 │ 0.761274 │ 0.715125  │ 0.722241 │

Note that although we get the last $ 3 $ rows in the DataFrame using the `tails()` function, the index is not that of the original full DataFrame index.

We can list the columns of a DataFrame and see what type of data it holds using the ```showcols()``` function.

In [23]:
showcols(df3)

15×4 DataFrames.DataFrame
│ Col # │ Name │ Eltype  │ Missing │
├───────┼──────┼─────────┼─────────┤
│ 1     │ A    │ Float64 │ 0       │
│ 2     │ B    │ Float64 │ 0       │
│ 3     │ C    │ Float64 │ 0       │
│ 4     │ D    │ Float64 │ 0       │

We note the $ 4 $ columns, their names and the data type that they hold.  The `Eltype` column states the type of the data point values in each column and will help us determine the statistical tests that we can use on the data point values.  The last column is quite important and we will definitely discuss this later.  It tells us if there are any `NA` values.

If we simply want to see the element types of each column, we can use the `eltypes()` function.

In [24]:
eltypes(df3)

4-element Array{Type{T},1}:
 Float64
 Float64
 Float64
 Float64

The `dump()` function provides us with a tree-like look at our DataFrame.

In [25]:
dump(df3)

DataFrames.DataFrame  15 observations of 4 variables
  A: DataArrays.DataArray{Float64,1}(15) [0.9598471223537832,0.6504906570726545,0.41456928630534073,0.3706399273434402]
  B: DataArrays.DataArray{Float64,1}(15) [0.9597384818103469,0.7123129507739665,0.1137048789100954,0.07289468407809174]
  C: DataArrays.DataArray{Float64,1}(15) [0.05201855732430838,0.6712115631083169,0.6460183246797704,0.9982765418459678]
  D: DataArrays.DataArray{Float64,1}(15) [0.3365496486470294,0.9712082555287149,0.12082392751863447,0.17877790052075326]

We note $ 15 $ observations (rows), each for $ 4 $ variables (columns).  A list of all the variables is given.

We can use the `describe()` function on the complete DataFrame or only on select columns to get some descriptive statistics on each column, provided the data is numerical.

In [26]:
describe(df3)

A
Min      0.09936564297722428
1st Qu.  0.34864746542430824
Median   0.47896758789129956
Mean     0.532382914962874
3rd Qu.  0.7831703652959923
Max      0.9598471223537832
NAs      0
NA%      0.0%

B
Min      0.07289468407809174
1st Qu.  0.25616664039998993
Median   0.6933346027320888
Mean     0.5856809005273864
3rd Qu.  0.9062045015854007
Max      0.9696901973592129
NAs      0
NA%      0.0%

C
Min      0.03739563761225351
1st Qu.  0.4435647482166628
Median   0.6460183246797704
Mean     0.5791147298516616
3rd Qu.  0.7211760824212039
Max      0.9982765418459678
NAs      0
NA%      0.0%

D
Min      0.12082392751863447
1st Qu.  0.347683466853576
Median   0.6729563406301957
Mean     0.5787930102154492
3rd Qu.  0.7987595041545364
Max      0.9712082555287149
NAs      0
NA%      0.0%

In [27]:
# Looking at what happens in the case of a column with strings
describe(df2)

A
Min      1.0
1st Qu.  2.0
Median   3.0
Mean     3.0
3rd Qu.  4.0
Max      5.0
NAs      0
NA%      0.0%

B
Length  5
Type    ASCIIString
NAs     0
NA%     0.0%
Unique  5

In column B we note $ 5 $ data point values each of ASCIIString type.  There are no missing values and all $ 5 $ values are unique (no repeats).

We can display only certain rows and column of our DataFrame in a variety of ways.

In [28]:
# Viewing only column A
df3[:A]

15-element DataArrays.DataArray{Float64,1}:
 0.959847
 0.650491
 0.414569
 0.37064
 0.92061
 0.326655
 0.0993656
 0.44541
 0.121486
 0.518242
 0.779428
 0.857957
 0.478968
 0.786913
 0.255163

In [29]:
# Viewing columns A and C
df3[[:A, :C]]

15×2 DataFrames.DataFrame
│ Row │ A         │ C         │
├─────┼───────────┼───────────┤
│ 1   │ 0.959847  │ 0.0520186 │
│ 2   │ 0.650491  │ 0.671212  │
│ 3   │ 0.414569  │ 0.646018  │
│ 4   │ 0.37064   │ 0.998277  │
│ 5   │ 0.92061   │ 0.554361  │
│ 6   │ 0.326655  │ 0.615214  │
│ 7   │ 0.0993656 │ 0.518944  │
│ 8   │ 0.44541   │ 0.368185  │
│ 9   │ 0.121486  │ 0.242702  │
│ 10  │ 0.518242  │ 0.662658  │
│ 11  │ 0.779428  │ 0.972781  │
│ 12  │ 0.857957  │ 0.904602  │
│ 13  │ 0.478968  │ 0.0373956 │
│ 14  │ 0.786913  │ 0.727228  │
│ 15  │ 0.255163  │ 0.715125  │

In [30]:
# Viewing columns A and C by index value
df3[[1, 3]]

15×2 DataFrames.DataFrame
│ Row │ A         │ C         │
├─────┼───────────┼───────────┤
│ 1   │ 0.959847  │ 0.0520186 │
│ 2   │ 0.650491  │ 0.671212  │
│ 3   │ 0.414569  │ 0.646018  │
│ 4   │ 0.37064   │ 0.998277  │
│ 5   │ 0.92061   │ 0.554361  │
│ 6   │ 0.326655  │ 0.615214  │
│ 7   │ 0.0993656 │ 0.518944  │
│ 8   │ 0.44541   │ 0.368185  │
│ 9   │ 0.121486  │ 0.242702  │
│ 10  │ 0.518242  │ 0.662658  │
│ 11  │ 0.779428  │ 0.972781  │
│ 12  │ 0.857957  │ 0.904602  │
│ 13  │ 0.478968  │ 0.0373956 │
│ 14  │ 0.786913  │ 0.727228  │
│ 15  │ 0.255163  │ 0.715125  │

In [31]:
# Viewing only rows 3 to 5 for all columns
df3[3:5, :]

3×4 DataFrames.DataFrame
│ Row │ A        │ B         │ C        │ D        │
├─────┼──────────┼───────────┼──────────┼──────────┤
│ 1   │ 0.414569 │ 0.113705  │ 0.646018 │ 0.120824 │
│ 2   │ 0.37064  │ 0.0728947 │ 0.998277 │ 0.178778 │
│ 3   │ 0.92061  │ 0.533644  │ 0.554361 │ 0.358817 │

In [32]:
# Viewing rows 3 and 5 for columns A and C
df3[[3, 5], [:A, :C]]

2×2 DataFrames.DataFrame
│ Row │ A        │ C        │
├─────┼──────────┼──────────┤
│ 1   │ 0.414569 │ 0.646018 │
│ 2   │ 0.92061  │ 0.554361 │

[Back to the top](#In-this-lesson)

## Importing an exporting data files

- [Reading tabular data](#Reading-tabular-data)
- [Exporting a DataFrame](#Exporting-a-DataFrame)

### Reading tabular data

Data that are stored in tabular form such as delimited files, i.e. comma separated files `.csv` or tab separated files or space delimited files can be imported as DataFrames using the DataFrames' function `readtable()` .

This function takes one argument, the name of the file to be read: ```filename::AbstractString```, i.e. ```data.csv```.  There are a number of keyword arguments.
- ```header::Bool``` defaults to ```true``` and uses the tabular data file's header line values (first row) as column names
- ```separator::Char```uses the fact that delimited files have elements separated by some character, i.e. ```,``` for ```.csv```, a TAB for ```.tsv``` files or a space for ```.wsv``` files and these can bes specified (else the function uses the file extension to infer the separator character)
- ```nrows::Int``` indicates how many rows (from the top) should be read and defaults to $ -1 $ which indicates the all the rows
- ```names::Vector{Symbol}``` can be populated by column names to be used instead of the values in the first row
- ```quotemark::Vector{Char}``` can be used to indicated that values between certain characters such as quoattion marks shoud be views as belonging to a single element and any separator characted inside of these marks will not be viewed as separators
- ```decimal::Char``` can be set to something like a comma if values in the file used a comma a decimal indicator, else defaults to the full-stop character as indicator of decimal values
- ```nastrings::Vector{String}``` translate any of the strings into this vector into an ```NA``` and defaults to ```["", "NA"]```
- ```truestrings::Vector{String}``` translate any of the strings into this vector into a Boolean true. Defaults to ["T", "t", "TRUE", "true"]
- ```falsestrings::Vector{String}``` translate any of the strings into this vector into a Boolean ```false``` and defaults to ```["F", "f", "FALSE", "false"]```
- ```makefactors::Bool``` convert string columns into PooledDataVector's for use as factors and defaults to ```false```
- ```eltypes::Vector``` specifies the types of all columns and defaults to ```[]```
- ```allowcomments::Bool``` ignores all text inside comments and defaults to ```false```
- ```commentmark::Char``` specifies the character that starts comments and defaults to ```'#'```
- ```ignorepadding::Bool``` ignores all whitespace on left and right sides of a field and defaults to ```true```
- ```skipstart::Int``` specifies the number of initial rows to skip and defaults to ```0```
- ```skiprows::Vector{Int}``` specifies the indices of lines in the input to ignore and defaults to ```[]```
- ```skipblanks::Bool``` skips any blank lines in input and defaults to ```true```
- ```encoding::Symbol``` specifies the file's encoding as either ```:utf8``` or ```:latin1``` and defaults to ```:utf8```
- ```normalizenames::Bool``` ensures that column names are valid Julia identifiers, i.e. this renames a column named ```a b``` to ```a_b``` which can then be accessed with ```:a_b``` instead of ```Symbol("a b")``` and defaults to ```true```

In [33]:
# Example
data1 = readtable("CCS.csv")

120×6 DataFrames.DataFrame
│ Row │ PatientID │ Cat1 │ Cat2 │ Var1    │ Var2    │ Var3    │
├─────┼───────────┼──────┼──────┼─────────┼─────────┼─────────┤
│ 1   │ 1         │ "A"  │ "C"  │ 38.2568 │ 5.93913 │ 35.0579 │
│ 2   │ 2         │ "A"  │ "C"  │ 17.8317 │ 5.34754 │ 21.131  │
│ 3   │ 8         │ "A"  │ "B"  │ 16.0218 │ 6.60709 │ 60.9436 │
│ 4   │ 9         │ "A"  │ "C"  │ 45.1158 │ 6.00733 │ 21.8797 │
│ 5   │ 16        │ "A"  │ "C"  │ 20.448  │ 8.54819 │ 20.6623 │
│ 6   │ 18        │ "A"  │ "B"  │ 28.3549 │ 7.95642 │ 33.1807 │
│ 7   │ 25        │ "A"  │ "C"  │ 22.4497 │ 6.34618 │ 40.2365 │
│ 8   │ 28        │ "A"  │ "B"  │ 48.4125 │ 5.32583 │ 28.8956 │
│ 9   │ 29        │ "A"  │ "C"  │ 40.0075 │ 11.4189 │ 71.5911 │
│ 10  │ 33        │ "A"  │ "C"  │ 20.7181 │ 5.37768 │ 27.4216 │
│ 11  │ 37        │ "A"  │ "B"  │ 17.0396 │ 5.34168 │ 24.3501 │
⋮
│ 109 │ 76        │ "B"  │ "R"  │ 17.0029 │ 5.39477 │ 31.1297 │
│ 110 │ 78        │ "B"  │ "L"  │ 55.3879 │ 4.15304 │ 40.0846 │
│ 111 │ 80        │ "B"  │ "R"  │ 20.2205 │ 6.36442 │ 45.435  │
│ 112 │ 83        │ "B"  │ "L"  │ 16.4172 │ 3.84167 │ 89.6969 │
│ 113 │ 84        │ "B"  │ "R"  │ 47.6224 │ 5.40032 │ 47.4541 │
│ 114 │ 86        │ "B"  │ "L"  │ 73.0229 │ 3.38349 │ 55.1737 │
│ 115 │ 92        │ "B"  │ "R"  │ 16.4106 │ 4.30351 │ 87.7357 │
│ 116 │ 95        │ "B"  │ "R"  │ 16.2801 │ 3.37252 │ 52.6018 │
│ 117 │ 101       │ "B"  │ "L"  │ 16.8883 │ 3.19598 │ 60.1883 │
│ 118 │ 113       │ "B"  │ "R"  │ 32.3537 │ 3.38677 │ 30.0157 │
│ 119 │ 115       │ "B"  │ "R"  │ 20.1379 │ 3.42731 │ 44.6893 │
│ 120 │ 119       │ "B"  │ "L"  │ 17.6144 │ 3.45116 │ 40.6947 │

In [34]:
# data1 is now a DataFrame
typeof(data1)

DataFrames.DataFrame

[Back to: Importing an exporting data files](#Importing-an-exporting-data-files)

### Exporting a DataFrame

A DataFrame can be exported as a delimited file using the ```writetable()``` function.  The function takes two arguments:
- ```filename::AbstractString``` specifies the file name to be created, i.e. ```data.csv```
- ```df::AbstractDataFrame``` specifies the name of the DataFrame to be exported
There are a number of keywrod arguments:
- ```separator::Char``` specifies the separator character that you would like to use and defaults to the output of getseparator(filename), which uses commas for files that end in ```.csv```, tabs for files that end in ```.tsv``` and a single space for files that end in ```.wsv```
- ```quotemark::Char``` specifies the character used to delimit string fields and defaults to ```'"'```
- ```header::Bool``` specifies the column names from ```df``` and defaults to ```true```
- ```nastring::AbstractString``` specifies what to write in place of missing data and defaults to ```NA```

[Back to: Importing an exporting data files](#Importing-an-exporting-data-files)

[Back to the top](#In-this-lesson)

## Combining DataFrames

Very often in data science and statistical analysis we have more than one DataFrame pertaining to the same research project and which to combine them in some way.  This is called a **join**.  In this first part we will construct to simple DataFrames to illustrate the basic concept of a DataFrames ```join```.

In [35]:
# Creating two DataFrames
subjects = DataFrame(Number = [100, 101, 102, 103], Stage = ["I", "III", "II", "I"])
treatment  = DataFrame(Number = [103, 102, 101, 100], Treatment = ["A", "B", "A", "B"]);

In [36]:
subjects

4×2 DataFrames.DataFrame
│ Row │ Number │ Stage │
├─────┼────────┼───────┤
│ 1   │ 100    │ "I"   │
│ 2   │ 101    │ "III" │
│ 3   │ 102    │ "II"  │
│ 4   │ 103    │ "I"   │

In [37]:
treatment

4×2 DataFrames.DataFrame
│ Row │ Number │ Treatment │
├─────┼────────┼───────────┤
│ 1   │ 103    │ "A"       │
│ 2   │ 102    │ "B"       │
│ 3   │ 101    │ "A"       │
│ 4   │ 100    │ "B"       │

In the ```subjects``` DataFrame we have a column **Number** that contains $ 4 $ research subject numbers.  The column **Stage** colum indicates the stage of disease of each subject.

The ```treatment``` DataFrame has a similar **Number** column, with the same subject numbers (not in similar order as in the ```subject``` DataFrame), but this time there is a column named **Treatment** that specifies the treatment arm that each subject is in.

We can combine these two DataFrames into one using the ```join()``` function.  It takes as arguments the names of the original DataFrames and the column name on which to join.

In [38]:
# Joing on a similarly named column
df5 = join(subjects, treatment, on = :Number)

4×3 DataFrames.DataFrame
│ Row │ Number │ Stage │ Treatment │
├─────┼────────┼───────┼───────────┤
│ 1   │ 100    │ "I"   │ "B"       │
│ 2   │ 101    │ "III" │ "A"       │
│ 3   │ 102    │ "II"  │ "B"       │
│ 4   │ 103    │ "I"   │ "A"       │

The DataFrames were correctly combined.  You can well imagine a scenario where DataFrames are not so easy to combine, i.e. a dissimilar number of rows.  For these, the ```DataFrames``` package provides seven different types of joins using the argument ``` kind = ```:
- ```:inner:``` contains rows for values of the key that exist in both the first (left) and second (right) arguments to join
- ```:outer:``` contains rows for values of the key that exist in the first (left) or second (right) argument to join (i.e. all)
- ```:left:``` contains rows for values of the key that exist in the first (left) argument to join, whether or not that value exists in the second (right) argument
- ```:right:``` The contains rows for values of the key that exist in the second (right) argument to join, whether or not that value exists in the first (left) argument
- ```:semi:``` is like an inner join, but output is restricted to columns from the first (left) argument to join
- ```:anti:``` contains rows for values of the key that exist in the first (left) but not the second (right) argument to join and as with ```:semi``` joins, output is restricted to columns from the first (left) argument
- ```:cross:``` is the cartesian product of rows from the first (left) and second (right) arguments to join

In [39]:
# Adding a longer list of subjects
subjects = DataFrame(Number = [100, 101, 102, 103, 104, 105], Stage = ["I", "III", "II", "I", "II", "II"])

6×2 DataFrames.DataFrame
│ Row │ Number │ Stage │
├─────┼────────┼───────┤
│ 1   │ 100    │ "I"   │
│ 2   │ 101    │ "III" │
│ 3   │ 102    │ "II"  │
│ 4   │ 103    │ "I"   │
│ 5   │ 104    │ "II"  │
│ 6   │ 105    │ "II"  │

In [40]:
# Only contains subjects in that are in both DataFrames
df6 = join(subjects, treatment, on = :Number, kind = :inner)

4×3 DataFrames.DataFrame
│ Row │ Number │ Stage │ Treatment │
├─────┼────────┼───────┼───────────┤
│ 1   │ 100    │ "I"   │ "B"       │
│ 2   │ 101    │ "III" │ "A"       │
│ 3   │ 102    │ "II"  │ "B"       │
│ 4   │ 103    │ "I"   │ "A"       │

In [41]:
# Contains all the subjects
# Empty fields filled with NA
df7  = join(subjects, treatment, on = :Number, kind = :outer)

6×3 DataFrames.DataFrame
│ Row │ Number │ Stage │ Treatment │
├─────┼────────┼───────┼───────────┤
│ 1   │ 100    │ "I"   │ "B"       │
│ 2   │ 101    │ "III" │ "A"       │
│ 3   │ 102    │ "II"  │ "B"       │
│ 4   │ 103    │ "I"   │ "A"       │
│ 5   │ 104    │ "II"  │ NA        │
│ 6   │ 105    │ "II"  │ NA        │

[Back to the top](#In-this-lesson)

## Grouping and splicing

- [by](#by)
- [aggregate](#aggregate)
- [groupby](#groupby)
- [sub](#sub)

Perhaps just as common as [combining DataFrames](#Combining-DataFrames) in reseach projects is the need to group certain rows, applying a function to this grouping, such as counting the data point values and then combing the results.  For this, the ```DataFrames``` package provides the ```by()```, ```aggregate()``` and ```groupby()``` functions.

### by

In [42]:
# Creating a DataFrame to work with
df8 = DataFrame(Group = rand(["A", "B", "C"], 15),
Variable1 = randn(15), Variable2 = rand(15))

15×3 DataFrames.DataFrame
│ Row │ Group │ Variable1  │ Variable2 │
├─────┼───────┼────────────┼───────────┤
│ 1   │ "C"   │ 0.352205   │ 0.804991  │
│ 2   │ "B"   │ -0.0710454 │ 0.896509  │
│ 3   │ "C"   │ -0.894965  │ 0.747503  │
│ 4   │ "B"   │ -1.27461   │ 0.883513  │
│ 5   │ "B"   │ 1.25131    │ 0.25765   │
│ 6   │ "B"   │ 1.13752    │ 0.942667  │
│ 7   │ "B"   │ -0.065457  │ 0.809685  │
│ 8   │ "A"   │ -2.51508   │ 0.927084  │
│ 9   │ "B"   │ 0.467884   │ 0.643249  │
│ 10  │ "C"   │ -0.848949  │ 0.225944  │
│ 11  │ "C"   │ 0.372821   │ 0.255513  │
│ 12  │ "B"   │ -0.779586  │ 0.409528  │
│ 13  │ "B"   │ 0.196815   │ 0.603954  │
│ 14  │ "A"   │ 1.54893    │ 0.281812  │
│ 15  │ "C"   │ -0.154519  │ 0.86598   │

Let's starts by grouping by the data point values in column **Group** and returning the size of the resulting split sections.

In [43]:
by(df8, :Group, size)

3×2 DataFrames.DataFrame
│ Row │ Group │ x1    │
├─────┼───────┼───────┤
│ 1   │ "A"   │ (2,3) │
│ 2   │ "B"   │ (8,3) │
│ 3   │ "C"   │ (5,3) │

We note that if we split the DataFrame by grouping what values are found in column **Group**, we will find three $ 5 \times 3 $ parts.  This means that there are $ 5 $ instances of the data point value *A* in column **Group**, hence the $ 5 $ rows and that there are $ 3 $ columns (the **Group**, **Variable1** and **Variable2** columns.

If we simply want to count the occurrence of data point values in a column, we can the following.

In [44]:
by(df8, :Group, df -> DataFrame(Count = size(df, 1)))

3×2 DataFrames.DataFrame
│ Row │ Group │ Count │
├─────┼───────┼───────┤
│ 1   │ "A"   │ 2     │
│ 2   │ "B"   │ 8     │
│ 3   │ "C"   │ 5     │

We used the fact that the ```size()``` function returns a tuple and we are interested in the first value in the tuple, namely the row size.  We also used the ```DataFrame()``` function to create a DataFrame with a column named **Count** to hold the values.

[Back to: Grouping and splicing](#Grouping-and-splicing)

### aggregate

The aggregate function also groups (splits) the DataFrame by a column and then calculates a function or function on the rest of the columns.  The new colums are named from the old with an underscore suffix followed by the applied function.

In [45]:
# Calculating the mean and standard deviation of variables 1 and 2 grouped by
# data point values in the Group column
aggregate(df8, :Group, [mean, std])

3×5 DataFrames.DataFrame
│ Row │ Group │ Variable1_mean │ Variable1_std │ Variable2_mean │
├─────┼───────┼────────────────┼───────────────┼────────────────┤
│ 1   │ "A"   │ -0.483077      │ 2.87369       │ 0.604448       │
│ 2   │ "B"   │ 0.107853       │ 0.867346      │ 0.680844       │
│ 3   │ "C"   │ -0.234681      │ 0.619116      │ 0.579986       │

│ Row │ Variable2_std │
├─────┼───────────────┤
│ 1   │ 0.456276      │
│ 2   │ 0.248644      │
│ 3   │ 0.312694      │

[Back to: Grouping and splicing](#Grouping-and-splicing)

### groupby

The ```groupby()``` function simply splits the DataFrame as specified.

In [46]:
# Viewing the first and last groups
groupby(df8, :Group)

DataFrames.GroupedDataFrame  3 groups with keys: [:Group]
First Group:
2×3 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ Group │ Variable1 │ Variable2 │
├─────┼───────┼───────────┼───────────┤
│ 1   │ "A"   │ -2.51508  │ 0.927084  │
│ 2   │ "A"   │ 1.54893   │ 0.281812  │
⋮
Last Group:
5×3 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ Group │ Variable1 │ Variable2 │
├─────┼───────┼───────────┼───────────┤
│ 1   │ "C"   │ 0.352205  │ 0.804991  │
│ 2   │ "C"   │ -0.894965 │ 0.747503  │
│ 3   │ "C"   │ -0.848949 │ 0.225944  │
│ 4   │ "C"   │ 0.372821  │ 0.255513  │
│ 5   │ "C"   │ -0.154519 │ 0.86598   │

In [47]:
# Viewing all the groups using a for loop
for i in groupby(df8, :Group)
    print(i)
end

2×3 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ Group │ Variable1 │ Variable2 │
├─────┼───────┼───────────┼───────────┤
│ 1   │ "A"   │ -2.51508  │ 0.927084  │
│ 2   │ "A"   │ 1.54893   │ 0.281812  │8×3 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ Group │ Variable1  │ Variable2 │
├─────┼───────┼────────────┼───────────┤
│ 1   │ "B"   │ -0.0710454 │ 0.896509  │
│ 2   │ "B"   │ -1.27461   │ 0.883513  │
│ 3   │ "B"   │ 1.25131    │ 0.25765   │
│ 4   │ "B"   │ 1.13752    │ 0.942667  │
│ 5   │ "B"   │ -0.065457  │ 0.809685  │
│ 6   │ "B"   │ 0.467884   │ 0.643249  │
│ 7   │ "B"   │ -0.779586  │ 0.409528  │
│ 8   │ "B"   │ 0.196815   │ 0.603954  │5×3 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ Group │ Variable1 │ Variable2 │
├─────┼───────┼───────────┼───────────┤
│ 1   │ "C"   │ 0.352205  │ 0.804991  │
│ 2   │ "C"   │ -0.894965 │ 0.747503  │
│ 3   │ "C"   │ -0.848949 │ 0.225944  │
│ 4   │ "C"   │ 0.372821  │ 0.255513  │
│ 5   │ "C"   │ -0.154519 │ 0.86598   │

In [48]:
# Calculating the number of subgroups using length()
length(groupby(df8, :Group))

3

In [49]:
# Viewing a specific group by its index value
groupby(df8, :Group)[2]

8×3 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ Group │ Variable1  │ Variable2 │
├─────┼───────┼────────────┼───────────┤
│ 1   │ "B"   │ -0.0710454 │ 0.896509  │
│ 2   │ "B"   │ -1.27461   │ 0.883513  │
│ 3   │ "B"   │ 1.25131    │ 0.25765   │
│ 4   │ "B"   │ 1.13752    │ 0.942667  │
│ 5   │ "B"   │ -0.065457  │ 0.809685  │
│ 6   │ "B"   │ 0.467884   │ 0.643249  │
│ 7   │ "B"   │ -0.779586  │ 0.409528  │
│ 8   │ "B"   │ 0.196815   │ 0.603954  │

[Back to: Grouping and splicing](#Grouping-and-splicing)

### sub

Instead of grouping a DataFrame we can create sub-DataFrames based on selecting certain rows and or columns.

In [50]:
# Adding a third column
df8[:Variable3] = randn(15)
df8

15×4 DataFrames.DataFrame
│ Row │ Group │ Variable1  │ Variable2 │ Variable3 │
├─────┼───────┼────────────┼───────────┼───────────┤
│ 1   │ "C"   │ 0.352205   │ 0.804991  │ 0.517947  │
│ 2   │ "B"   │ -0.0710454 │ 0.896509  │ -0.321167 │
│ 3   │ "C"   │ -0.894965  │ 0.747503  │ -1.10369  │
│ 4   │ "B"   │ -1.27461   │ 0.883513  │ 0.823746  │
│ 5   │ "B"   │ 1.25131    │ 0.25765   │ 2.33009   │
│ 6   │ "B"   │ 1.13752    │ 0.942667  │ 0.0995981 │
│ 7   │ "B"   │ -0.065457  │ 0.809685  │ -0.48111  │
│ 8   │ "A"   │ -2.51508   │ 0.927084  │ 0.362658  │
│ 9   │ "B"   │ 0.467884   │ 0.643249  │ 0.730952  │
│ 10  │ "C"   │ -0.848949  │ 0.225944  │ -0.628655 │
│ 11  │ "C"   │ 0.372821   │ 0.255513  │ -0.555847 │
│ 12  │ "B"   │ -0.779586  │ 0.409528  │ 0.774134  │
│ 13  │ "B"   │ 0.196815   │ 0.603954  │ 1.46648   │
│ 14  │ "A"   │ 1.54893    │ 0.281812  │ 1.01347   │
│ 15  │ "C"   │ -0.154519  │ 0.86598   │ 1.15709   │

Using the ```sub()``` function we can select certain rows only and therefor splice our DataFrame.

In [51]:
# Rows 5 to 7
sub(df8, 5:7)

3×4 DataFrames.SubDataFrame{UnitRange{Int64}}
│ Row │ Group │ Variable1 │ Variable2 │ Variable3 │
├─────┼───────┼───────────┼───────────┼───────────┤
│ 1   │ "B"   │ 1.25131   │ 0.25765   │ 2.33009   │
│ 2   │ "B"   │ 1.13752   │ 0.942667  │ 0.0995981 │
│ 3   │ "B"   │ -0.065457 │ 0.809685  │ -0.48111  │

In [52]:
# Rows 5 and 7
sub(df8, [5, 7])

2×4 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ Group │ Variable1 │ Variable2 │ Variable3 │
├─────┼───────┼───────────┼───────────┼───────────┤
│ 1   │ "B"   │ 1.25131   │ 0.25765   │ 2.33009   │
│ 2   │ "B"   │ -0.065457 │ 0.809685  │ -0.48111  │

We can also splice based on rules for values.  In the example below we only include rows in the DataFrame based on values in the **Variable1** column being larger than or equal to $ 0.5 $.

In [53]:
# Note the dot in .>=
# It indicates that we want to evaluate each row
sub(df8, df8[:Variable1] .>= 0.5)

3×4 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ Group │ Variable1 │ Variable2 │ Variable3 │
├─────┼───────┼───────────┼───────────┼───────────┤
│ 1   │ "B"   │ 1.25131   │ 0.25765   │ 2.33009   │
│ 2   │ "B"   │ 1.13752   │ 0.942667  │ 0.0995981 │
│ 3   │ "A"   │ 1.54893   │ 0.281812  │ 1.01347   │

In [54]:
# Creating a new DataFrame with only A values in the group column
df8A = sub(df8, df8[:Group] .== "A")

2×4 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ Group │ Variable1 │ Variable2 │ Variable3 │
├─────┼───────┼───────────┼───────────┼───────────┤
│ 1   │ "A"   │ -2.51508  │ 0.927084  │ 0.362658  │
│ 2   │ "A"   │ 1.54893   │ 0.281812  │ 1.01347   │

[Back to: Grouping and splicing](#Grouping-and-splicing)

[Back to the top](#In-this-lesson)

## Sorting

Sorting the data point values in a column or columns is an important part of data analysis.  The ```sort!()``` function provides a variety of possibilities.

In [55]:
# Inspecting df8
df8

15×4 DataFrames.DataFrame
│ Row │ Group │ Variable1  │ Variable2 │ Variable3 │
├─────┼───────┼────────────┼───────────┼───────────┤
│ 1   │ "C"   │ 0.352205   │ 0.804991  │ 0.517947  │
│ 2   │ "B"   │ -0.0710454 │ 0.896509  │ -0.321167 │
│ 3   │ "C"   │ -0.894965  │ 0.747503  │ -1.10369  │
│ 4   │ "B"   │ -1.27461   │ 0.883513  │ 0.823746  │
│ 5   │ "B"   │ 1.25131    │ 0.25765   │ 2.33009   │
│ 6   │ "B"   │ 1.13752    │ 0.942667  │ 0.0995981 │
│ 7   │ "B"   │ -0.065457  │ 0.809685  │ -0.48111  │
│ 8   │ "A"   │ -2.51508   │ 0.927084  │ 0.362658  │
│ 9   │ "B"   │ 0.467884   │ 0.643249  │ 0.730952  │
│ 10  │ "C"   │ -0.848949  │ 0.225944  │ -0.628655 │
│ 11  │ "C"   │ 0.372821   │ 0.255513  │ -0.555847 │
│ 12  │ "B"   │ -0.779586  │ 0.409528  │ 0.774134  │
│ 13  │ "B"   │ 0.196815   │ 0.603954  │ 1.46648   │
│ 14  │ "A"   │ 1.54893    │ 0.281812  │ 1.01347   │
│ 15  │ "C"   │ -0.154519  │ 0.86598   │ 1.15709   │

In [56]:
# Reversing by columns Group and Variable1
# rev = true will do descending order for numerical values
# and reverse alphabetical order for strings
sort!(df8, cols = [:Group, :Variable1], rev = true)

15×4 DataFrames.DataFrame
│ Row │ Group │ Variable1  │ Variable2 │ Variable3 │
├─────┼───────┼────────────┼───────────┼───────────┤
│ 1   │ "C"   │ 0.372821   │ 0.255513  │ -0.555847 │
│ 2   │ "C"   │ 0.352205   │ 0.804991  │ 0.517947  │
│ 3   │ "C"   │ -0.154519  │ 0.86598   │ 1.15709   │
│ 4   │ "C"   │ -0.848949  │ 0.225944  │ -0.628655 │
│ 5   │ "C"   │ -0.894965  │ 0.747503  │ -1.10369  │
│ 6   │ "B"   │ 1.25131    │ 0.25765   │ 2.33009   │
│ 7   │ "B"   │ 1.13752    │ 0.942667  │ 0.0995981 │
│ 8   │ "B"   │ 0.467884   │ 0.643249  │ 0.730952  │
│ 9   │ "B"   │ 0.196815   │ 0.603954  │ 1.46648   │
│ 10  │ "B"   │ -0.065457  │ 0.809685  │ -0.48111  │
│ 11  │ "B"   │ -0.0710454 │ 0.896509  │ -0.321167 │
│ 12  │ "B"   │ -0.779586  │ 0.409528  │ 0.774134  │
│ 13  │ "B"   │ -1.27461   │ 0.883513  │ 0.823746  │
│ 14  │ "A"   │ 1.54893    │ 0.281812  │ 1.01347   │
│ 15  │ "A"   │ -2.51508   │ 0.927084  │ 0.362658  │

In [57]:
# Ascending numerical and alphabetical string sorting
# using rev = false
sort!(df8, cols = [:Group, :Variable1], rev = false)

15×4 DataFrames.DataFrame
│ Row │ Group │ Variable1  │ Variable2 │ Variable3 │
├─────┼───────┼────────────┼───────────┼───────────┤
│ 1   │ "A"   │ -2.51508   │ 0.927084  │ 0.362658  │
│ 2   │ "A"   │ 1.54893    │ 0.281812  │ 1.01347   │
│ 3   │ "B"   │ -1.27461   │ 0.883513  │ 0.823746  │
│ 4   │ "B"   │ -0.779586  │ 0.409528  │ 0.774134  │
│ 5   │ "B"   │ -0.0710454 │ 0.896509  │ -0.321167 │
│ 6   │ "B"   │ -0.065457  │ 0.809685  │ -0.48111  │
│ 7   │ "B"   │ 0.196815   │ 0.603954  │ 1.46648   │
│ 8   │ "B"   │ 0.467884   │ 0.643249  │ 0.730952  │
│ 9   │ "B"   │ 1.13752    │ 0.942667  │ 0.0995981 │
│ 10  │ "B"   │ 1.25131    │ 0.25765   │ 2.33009   │
│ 11  │ "C"   │ -0.894965  │ 0.747503  │ -1.10369  │
│ 12  │ "C"   │ -0.848949  │ 0.225944  │ -0.628655 │
│ 13  │ "C"   │ -0.154519  │ 0.86598   │ 1.15709   │
│ 14  │ "C"   │ 0.352205   │ 0.804991  │ 0.517947  │
│ 15  │ "C"   │ 0.372821   │ 0.255513  │ -0.555847 │

In [58]:
# A simple syntax
sort!(df8, cols = [:Group, :Variable1, :Variable2],
rev = (false, false, true))

15×4 DataFrames.DataFrame
│ Row │ Group │ Variable1  │ Variable2 │ Variable3 │
├─────┼───────┼────────────┼───────────┼───────────┤
│ 1   │ "A"   │ -2.51508   │ 0.927084  │ 0.362658  │
│ 2   │ "A"   │ 1.54893    │ 0.281812  │ 1.01347   │
│ 3   │ "B"   │ -1.27461   │ 0.883513  │ 0.823746  │
│ 4   │ "B"   │ -0.779586  │ 0.409528  │ 0.774134  │
│ 5   │ "B"   │ -0.0710454 │ 0.896509  │ -0.321167 │
│ 6   │ "B"   │ -0.065457  │ 0.809685  │ -0.48111  │
│ 7   │ "B"   │ 0.196815   │ 0.603954  │ 1.46648   │
│ 8   │ "B"   │ 0.467884   │ 0.643249  │ 0.730952  │
│ 9   │ "B"   │ 1.13752    │ 0.942667  │ 0.0995981 │
│ 10  │ "B"   │ 1.25131    │ 0.25765   │ 2.33009   │
│ 11  │ "C"   │ -0.894965  │ 0.747503  │ -1.10369  │
│ 12  │ "C"   │ -0.848949  │ 0.225944  │ -0.628655 │
│ 13  │ "C"   │ -0.154519  │ 0.86598   │ 1.15709   │
│ 14  │ "C"   │ 0.352205   │ 0.804991  │ 0.517947  │
│ 15  │ "C"   │ 0.372821   │ 0.255513  │ -0.555847 │

[Back to the top](#In-this-lesson)

## Duplicate rows

- [unique](#unique)
- [deleterows](#deleterows)

Data entry is almost never a *clean* process.  One common mistake taht is made when data is captured, is the repeat entry of data.  Duplicate rows can be removed using the ```unique()``` function.  Selected rows can also be removed for any reason (not just because they are duplicate rows) using the ```deleterows()``` function.  As is common to Julia Base, adding a bang, ```!```, i.e. ```unique!()```, results in a function that makes the changes permanent.

### unique

In [59]:
# Creating a DataFrame with an obvious duplicate row
df9 = DataFrame(A = [1, 2, 2, 3, 4, 5],  B = [11, 12, 12, 13, 14, 15], C = ["A", "B", "B", "C", "D", "E"])

6×3 DataFrames.DataFrame
│ Row │ A │ B  │ C   │
├─────┼───┼────┼─────┤
│ 1   │ 1 │ 11 │ "A" │
│ 2   │ 2 │ 12 │ "B" │
│ 3   │ 2 │ 12 │ "B" │
│ 4   │ 3 │ 13 │ "C" │
│ 5   │ 4 │ 14 │ "D" │
│ 6   │ 5 │ 15 │ "E" │

In [60]:
# The unique() function returns a DataFrame without the duplicate(s)
unique(df9)

5×3 DataFrames.DataFrame
│ Row │ A │ B  │ C   │
├─────┼───┼────┼─────┤
│ 1   │ 1 │ 11 │ "A" │
│ 2   │ 2 │ 12 │ "B" │
│ 3   │ 3 │ 13 │ "C" │
│ 4   │ 4 │ 14 │ "D" │
│ 5   │ 5 │ 15 │ "E" │

In [61]:
# The change is not permanent, though
df9

6×3 DataFrames.DataFrame
│ Row │ A │ B  │ C   │
├─────┼───┼────┼─────┤
│ 1   │ 1 │ 11 │ "A" │
│ 2   │ 2 │ 12 │ "B" │
│ 3   │ 2 │ 12 │ "B" │
│ 4   │ 3 │ 13 │ "C" │
│ 5   │ 4 │ 14 │ "D" │
│ 6   │ 5 │ 15 │ "E" │

In [62]:
# Making it permanent with unique!()
unique!(df9)

5×3 DataFrames.DataFrame
│ Row │ A │ B  │ C   │
├─────┼───┼────┼─────┤
│ 1   │ 1 │ 11 │ "A" │
│ 2   │ 2 │ 12 │ "B" │
│ 3   │ 3 │ 13 │ "C" │
│ 4   │ 4 │ 14 │ "D" │
│ 5   │ 5 │ 15 │ "E" │

In [63]:
df9

5×3 DataFrames.DataFrame
│ Row │ A │ B  │ C   │
├─────┼───┼────┼─────┤
│ 1   │ 1 │ 11 │ "A" │
│ 2   │ 2 │ 12 │ "B" │
│ 3   │ 3 │ 13 │ "C" │
│ 4   │ 4 │ 14 │ "D" │
│ 5   │ 5 │ 15 │ "E" │

[Back to: Duplicate rows ](#Duplicate-rows)

### deleterows

As mentioned, we can also delete rows at will using ```deleterows()```.

In [64]:
# Permanently removing rows 1 and 5
deleterows!(df9, [1, 5])

3×3 DataFrames.DataFrame
│ Row │ A │ B  │ C   │
├─────┼───┼────┼─────┤
│ 1   │ 2 │ 12 │ "B" │
│ 2   │ 3 │ 13 │ "C" │
│ 3   │ 4 │ 14 │ "D" │

[Back to: Duplicate rows ](#Duplicate-rows)

[Back to the top](#In-this-lesson)

## Dealing with NA values

Another common problem in data entry is that of missing values.  This results in data point values of the ```NA``` type.  They create havoc trying to work with values in a DataFrame.  Fortunatley we can get rid of rows that contain ```NA``` values in a few ways.

In [64]:
df10 = DataFrame(A = 1:10, B = 11:20, C = 21:30)

10×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 11 │ 21 │
│ 2   │ 2  │ 12 │ 22 │
│ 3   │ 3  │ 13 │ 23 │
│ 4   │ 4  │ 14 │ 24 │
│ 5   │ 5  │ 15 │ 25 │
│ 6   │ 6  │ 16 │ 26 │
│ 7   │ 7  │ 17 │ 27 │
│ 8   │ 8  │ 18 │ 28 │
│ 9   │ 9  │ 19 │ 29 │
│ 10  │ 10 │ 20 │ 30 │

In [65]:
# Manually inserting some NA values
df10[3, :A] = NA
df10[4, :B] = NA
df10[[3, 9], :C] = NA # Rows 3 and 9 in column C

NA

In [66]:
df10

10×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 11 │ 21 │
│ 2   │ 2  │ 12 │ 22 │
│ 3   │ NA │ 13 │ NA │
│ 4   │ 4  │ NA │ 24 │
│ 5   │ 5  │ 15 │ 25 │
│ 6   │ 6  │ 16 │ 26 │
│ 7   │ 7  │ 17 │ 27 │
│ 8   │ 8  │ 18 │ 28 │
│ 9   │ 9  │ 19 │ NA │
│ 10  │ 10 │ 20 │ 30 │

The ```complete_cases()``` function retruns Boolean values for each row, with a ```false``` return if the rows contains a ```NA``` value.

In [67]:
complete_cases(df10)

10-element BitArray{1}:
  true
  true
 false
 false
  true
  true
  true
  true
 false
  true

The ```complete_cases!()``` function permanently deletes rows with ```NA``` values.

In [68]:
complete_cases!(df10)

7×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 11 │ 21 │
│ 2   │ 2  │ 12 │ 22 │
│ 3   │ 5  │ 15 │ 25 │
│ 4   │ 6  │ 16 │ 26 │
│ 5   │ 7  │ 17 │ 27 │
│ 6   │ 8  │ 18 │ 28 │
│ 7   │ 10 │ 20 │ 30 │

In [69]:
# Recreating the DataFrame df11 to use another way of deleting
# rows with NA values
df10 = DataFrame(A = 1:10, B = 11:20, C = 21:30)

# Manually inserting some NA values
df10[3, :A] = NA
df10[4, :B] = NA
df10[[3, 9], :C] = NA;

Back to the original DataFrame, we can use the ```isna()``` function to show whether a value is of ```NA``` type.

In [70]:
isna(df10[:A])

10-element BitArray{1}:
 false
 false
  true
 false
 false
 false
 false
 false
 false
 false

By adding the ```findin()``` function we can identify only the ```NA``` rows.

In [71]:
# The findin() function allows us to specify what we want to find, i.e. true or false
# Boolean values (in this case for the isna())
findin(isna(df10[:A]), true)

1-element Array{Int64,1}:
 3

We can also use the ```find()``` function to simply find the rows with ```NA``` values.

In [72]:
find(isna(df10[:A]))

1-element Array{Int64,1}:
 3

This presents us with a way to delete all the rows that contain ```NA``` values.

In [73]:
# Finding the number of rows and columns
rows, cols = size(df10)

(10,3)

In [74]:
# Creating a for loop to go through all the columns and
# deleting rows with NA values
for i in 1:cols
    deleterows!(df10, find(isna(df10[:, i])))
end

In [75]:
# All rows with NA values removed
df10

7×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 11 │ 21 │
│ 2   │ 2  │ 12 │ 22 │
│ 3   │ 5  │ 15 │ 25 │
│ 4   │ 6  │ 16 │ 26 │
│ 5   │ 7  │ 17 │ 27 │
│ 6   │ 8  │ 18 │ 28 │
│ 7   │ 10 │ 20 │ 30 │

[Back to the top](#In-this-lesson)

## Renaming columns

One more common problem in data science is the naming convention some data collectors use for their column names (variables).  It is often required to rename these, at times even to help with deidentfying data to comply with regulations.  The ```rename()``` and permanent effect ```rename!()``` function can help us achieve just this.

In [76]:
df11 = DataFrame(x = 1:10, y = rand(10), z = rand(["c", "x", "r"], 10))

10×3 DataFrames.DataFrame
│ Row │ x  │ y        │ z   │
├─────┼────┼──────────┼─────┤
│ 1   │ 1  │ 0.373781 │ "r" │
│ 2   │ 2  │ 0.2244   │ "r" │
│ 3   │ 3  │ 0.641347 │ "c" │
│ 4   │ 4  │ 0.568462 │ "c" │
│ 5   │ 5  │ 0.842833 │ "r" │
│ 6   │ 6  │ 0.907618 │ "r" │
│ 7   │ 7  │ 0.66423  │ "x" │
│ 8   │ 8  │ 0.412681 │ "r" │
│ 9   │ 9  │ 0.508553 │ "c" │
│ 10  │ 10 │ 0.361853 │ "x" │

Let's change the name of the **z** column to **Z**, but keep the renaming temporary.

In [77]:
# Temporary renaming of the z column to Z
rename(df11, :z, :Z)

10×3 DataFrames.DataFrame
│ Row │ x  │ y        │ Z   │
├─────┼────┼──────────┼─────┤
│ 1   │ 1  │ 0.373781 │ "r" │
│ 2   │ 2  │ 0.2244   │ "r" │
│ 3   │ 3  │ 0.641347 │ "c" │
│ 4   │ 4  │ 0.568462 │ "c" │
│ 5   │ 5  │ 0.842833 │ "r" │
│ 6   │ 6  │ 0.907618 │ "r" │
│ 7   │ 7  │ 0.66423  │ "x" │
│ 8   │ 8  │ 0.412681 │ "r" │
│ 9   │ 9  │ 0.508553 │ "c" │
│ 10  │ 10 │ 0.361853 │ "x" │

In [78]:
# The results were not permanent
df11

10×3 DataFrames.DataFrame
│ Row │ x  │ y        │ z   │
├─────┼────┼──────────┼─────┤
│ 1   │ 1  │ 0.373781 │ "r" │
│ 2   │ 2  │ 0.2244   │ "r" │
│ 3   │ 3  │ 0.641347 │ "c" │
│ 4   │ 4  │ 0.568462 │ "c" │
│ 5   │ 5  │ 0.842833 │ "r" │
│ 6   │ 6  │ 0.907618 │ "r" │
│ 7   │ 7  │ 0.66423  │ "x" │
│ 8   │ 8  │ 0.412681 │ "r" │
│ 9   │ 9  │ 0.508553 │ "c" │
│ 10  │ 10 │ 0.361853 │ "x" │

We can use a ```Dict()``` dictionary to rename the columns.  Let's make a permanent change.

In [79]:
rename!(df11, Dict(:x => :a, :y => :b, :z => :c))

10×3 DataFrames.DataFrame
│ Row │ a  │ b        │ c   │
├─────┼────┼──────────┼─────┤
│ 1   │ 1  │ 0.373781 │ "r" │
│ 2   │ 2  │ 0.2244   │ "r" │
│ 3   │ 3  │ 0.641347 │ "c" │
│ 4   │ 4  │ 0.568462 │ "c" │
│ 5   │ 5  │ 0.842833 │ "r" │
│ 6   │ 6  │ 0.907618 │ "r" │
│ 7   │ 7  │ 0.66423  │ "x" │
│ 8   │ 8  │ 0.412681 │ "r" │
│ 9   │ 9  │ 0.508553 │ "c" │
│ 10  │ 10 │ 0.361853 │ "x" │

Lastly, we can also use the ```names!()``` function to rename the columns.

In [80]:
names!(df11, [:A, :B, :C])

10×3 DataFrames.DataFrame
│ Row │ A  │ B        │ C   │
├─────┼────┼──────────┼─────┤
│ 1   │ 1  │ 0.373781 │ "r" │
│ 2   │ 2  │ 0.2244   │ "r" │
│ 3   │ 3  │ 0.641347 │ "c" │
│ 4   │ 4  │ 0.568462 │ "c" │
│ 5   │ 5  │ 0.842833 │ "r" │
│ 6   │ 6  │ 0.907618 │ "r" │
│ 7   │ 7  │ 0.66423  │ "x" │
│ 8   │ 8  │ 0.412681 │ "r" │
│ 9   │ 9  │ 0.508553 │ "c" │
│ 10  │ 10 │ 0.361853 │ "x" │

[Back to the top](#In-this-lesson)

<hr>
<h2>Converting columns to Julia arrays</h2>

At times, we might which to work with Julia arrays instead of columns in a DataFrame.  Fortunately we have the `convert()` function.

In [81]:
array_a = convert(Array, df11[:A])

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

[Back to the top](#In-this-lesson)